html {
  scroll-behavior: smooth;
  
}
* {
  box-sizing: border-box;
  margin: auto;

}
@font-face {
  font-family: Forum;
  src: url("assets/fonts/Forum-Regular.ttf"); 
}
@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf"); 
}


/* header style*/
 .header {
   width: 1600px;
   height: 744px;
   background-image: url(assets/bg-image.png); 
   

 }
 /*navigation*/
 .logo {
   position: absolute;
  width: 44px;
  height: 45px;
  margin-left: 777px;
  margin-top: 24px;
 }

.nav-menu, .social-media {
  list-style: none;
  display: flex;
  width: 1075px;
  padding-top: 35px;
  padding-left: 196px;
  padding-right: 209px;
}


a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.8;
  
}
a:hover {
  color: red;
}


h1 {
  text-align: center;
  padding-top: 175px;
 

  font-family:  Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  
  letter-spacing: 4.5px;
  text-transform: uppercase;

  color: #FFFFFF;

}
.header-content__text {
  padding-top: 20px;
  padding-left: 102px;
  padding-right: 100px;


  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;


  text-align: center;

  color: #FFFFFF;
}
.header-content__button{
  margin-left: 706px;
  margin-top: 28px;
 
}
.button {
  width: 188px;
  height: 46px;
  border: #00AFDB;
  background: #00AFDB;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
  
}

.header-content__button:hover {
  background: rgba(115, 0, 255, 0.564);
}



.social-media {
  padding-top: 185px;
  padding-left: 435px;
  padding-right: 438px;

}


/*idea section*/
.idea-content {
  width: 1600px;
  height: 842px;

}
 
.idea-content__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1331px;
  margin-left: 129px;
  padding-top: 121px;
  
}

.idea {
  width: 407px;
  height: 233px;
  margin-top: 177px;
  padding-right: 14px;
  
}


.idea_header {
  width: 367px;
  height: 57px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #373737;
}
.idea_par{
  width: 407px;
  height: 80px;
  padding-top: 15px;
  padding-left: 13px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;

  color: #4E4E4E;
}
.idea_button {
 margin-top: 46px;
 margin-left:10px;

}
.idea_button:hover{
  background-color: orangered;
  
}

.button:active{
  background-color: rgb(139, 102, 189);
  border-radius: 80%;
}
 /*community section*/
 .community {
  width: 1600px;
  height: 504px;
  background: #F5F6F7;
 }

 .slider-item {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 0 -5px;

   padding-top: 81px;
   padding-left: 1250px;
   padding-right: 272px;
  

 
 }

.slider-item__1,
 .slider-item__2,
  .slider-item__5{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;

}
.prev, .next {
  color :black;
}
.prev:hover, .next:hover {
  box-shadow: 0 0 0 2px rgb(250, 171, 135);
}

.community__box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
}

.community__box_left {
  display: block;
  text-align: center;
  width: 298px;
  height: 175px;
  margin-left: 269px;
  padding-top: 6px;
}

.user-name {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 2.4px;
  text-transform: uppercase;

  color: #373737;
}
 .user-text {
   margin-top: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  
  color: #4E4E4E;
 }

 .community__box_right{
  
   display: flex;
   flex-direction: row;
   flex-grow:1;
    padding-left: 129px;
    padding-top: 3px;
   justify-content: space-between;
   margin-right: -11px;

 }

 /* CODING -section*/
 .coding {
  width: 1600px;
  height: 722px;
  
 }

 .coding-content{
    margin-top: 120px;
    display:grid;
    grid-template-columns: 40% 60%;
   
   
 }
 .coding__right{
   padding-left: 270px;
 }
 .coding__left{
  margin-top: 200px;
  margin-left: 176px;
  
 
  width: 407px;
  

 }
 .coding_h{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  letter-spacing: 1px;
  text-transform: uppercase;
  
  color: #373737;
 }

 .coding_text{
   width: 407px;
   padding-top: 20px;
   
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  
  color: #4E4E4E;
 }
 .codding_b {
    margin-top: 32px;
    width: 175px;
  
    
 }
 .codding_b:hover{
   color: red;
   background-color: rgba(19, 109, 235, 0.558);
 }

 /* Registration or sign up section*/
 .registration {
  
   height: 524px;
   background-image: url(assets/sing-up.png);
   background-repeat: no-repeat;
   background-position-x: center; 
   background-position-y: center;
   background-size: inherit;
 }
 

 .registration__content{
   display: grid;
   padding-top: 200px;

 }
 .registration_h{

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
 
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  
  color: #FFFFFF;
 }
 .input_b{
   display: flex;
   flex-direction: row;
   grid-template-columns:none;
 }
 .registration__email{
  margin-top: 32px;
  margin-left:10px;

  width: 406px;
  height: 46px;
 }

 ::placeholder {
   padding-left:20px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: #373737;
      
      opacity: 0.5;
 }
 .registr_b {
    margin-top:32px;
    width: 66px;
    height: 46px;

  
    background: #00AFDB;
    border-radius: 0px;
    background-image: url(assets/form/check-icon.png);
    background-repeat: no-repeat;

    background-position-x: center; 
    background-position-y: center;
 }
 .registr_b:hover{
   background:crimson;
   box-shadow: rgb(135, 27, 48);
  
   background-image: url(assets/form/check-icon.png);
   background-repeat: no-repeat;
   background-position-x: center;
   background-position-y: center;
 }

 /* Downloading section"*/
 .downloading{
  width: 1600px;
  height: 464px;

 }
  
 .downloading__content{
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 .downloading_info {
    margin-top: 120px;
  

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
 }
 .downloading_info__h{
    font-size: 24px;
    line-height: 28px;
  
    letter-spacing: 1px;
    text-transform: uppercase;
    
    color: #373737;
 }
 .downloading_info__p{
   width: 480px;
   padding-top:20px;
 
   font-size: 14px;
    line-height: 140%;

    color: #4E4E4E;

 }

.downloading__button {
  display: inline-block;
   margin-left: 200px;
  
}
.downloading_btn{
  width: 127px;
  height: 46px;
  cursor: pointer;

  background: #00AFDB;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

}
.apple_btn {
  display: inline-flex;

  padding-top: 30px;
  padding-left: 399px;
}
.apple__btn_img{
  width: 59px;
  height: 46px;

  background: #009CC2;
  border: none;
  background-image: url(assets/btn-store/mac.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.iOS_btn{
  display: inline-flex;

  padding-left: 26px;
}



.ios__btn_img {
  width: 59px;
  height: 46px;
  background: #009CC2;
  border: none;
  background-image: url(assets/btn-store/ios.png);
 
  
}
.apple__btn_img:hover{
  border-radius: 85%;
  background: rgb(255, 0, 0);
  background-image: url(assets/btn-store/mac.png);
  background-repeat:no-repeat;
  

  background-position-x: center;
  background-position-y: center;

}

.ios__btn_img:hover {
  border-radius: 85%;
  border: 3px solid yellowgreen;
  background-image: url(assets/btn-store/ios.png);
  background-position-x: center;
  background-position-y: center;


}
/*footer*/

.footer {

  width: 1600px;
  height: 185px;
 
  background-color: black;

}
.footer_wrapper{
  display: grid;
  grid-template-columns: 30% 40% 30% ;
  padding-top: 60px;
 
}
.footer-nav{
 
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;

  color: #FFFFFF;

}

ul.footer-nav li{

  display: inline;
  border-left: 1px solid #4E4E4E;
  transform: rotate(-90deg);
  padding: 0 15px 0 14px;

 
}
ul.footer-nav li:first-child{
  border:none;
}


.footer-creator{

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
 

  color: #818181;
  
}